.dashboard {
    a {
        color: black;
        text-decoration: none;
    }
}
.tablaDatos {
    display: flex;
    align-items: center;
    .tablaDatos__downloadButton {
        button {
            display: flex;
            justify-items: center;
            i {
                margin-top: 3px;
            }
        }
    }
}