.dashboard {
    display: flex;
    justify-content: space-between;
    a {
        color: black;
        text-decoration: none;
    }
    input {
        outline: none;
        border-style: solid;
        border-width: 0 0 2px;
        border-color: grey;
    }
}
.tablaDatos {
    display: flex;
    align-items: center;
    .tablaDatos__downloadButton {
        a {
            display: flex;
            align-items: center;
            i {
                margin-right: 10px;
            }
        }
    }
}
