@import "mixins.scss";
body {
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}
.layout {
    //
}
.header {

}
.footer {
    background-color: #303030;
    padding: 20px 100px 20px 100px;
    width: 100%;
    min-height: 44vh;
    display: flex;
    margin-top: auto;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    @include media(xs) {
        flex-direction: column;
        text-align: center;
    }
    .footer__first {
        width: 30%;
        margin-right: 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
        @include media(xs){
            text-align: center;
            width: 100%;
        }
        .footer__first__title {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        a {
            color: white;
            margin-top: 5px;
            text-decoration: none;
        }
    }
    .footer__second {
        width: 30%;
        margin-left: 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
        @include media(xs){
            text-align: center;
            width: 100%;
            margin-left: 0px;
            margin-top: 16px;
        }

        .footer__second__title {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .footer__second__social {
            display: flex;
            flex-direction: row;
            img {
                margin-right: 10px;
            }
            @include media(xs){
                justify-content: center;
            }
        }
        img {
            background-color: white;
            background-size: 30px;
            border-radius: 22px;
        }
    }
}
.home {
    .container {
        margin-top: 60px;
        .row {
            text-align: center;

        }
        .featurette {
            padding-top: 20px;
            padding-bottom: 20px;
            h2{
                text-align: left;
            }
            p {
                text-align: left;
            }
            .col-md-7 {
                margin-top: 7rem;
            }
        }
    }
    .home__presentation {
        width: 100%;
        height: 500px;
        background-color: #303030;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media(lg){
            img {
                height: 500px;
                width: auto;
            }
        }
        @include media(md){
            img {
                height: 500px;
                width: auto;
            }
        }
        @include media(sm){
            img {
                height: 500px;
                width: auto;
            }
        }
        @include media(xs){
            height: auto;
            img {
                width: 375px;
                height: auto;
            }
        }

    }
    .home__caracteristics {
        display: flex;
        flex-direction: column;

        .home__caracteristics__first {
            display: flex;
            flex-direction: column;
        }
        .home__caracteristics__second {

        }
    }
}
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .register__form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 600px;
        background-color: rgb(235, 235, 235);
        padding: 20px;
        border-radius: 6px;
        @include media(xs){
            width: 350px;
        }
        button {
            margin-top: 10px;
            width: 100%;
        }
    }
    .register__form__title {
        font-size: 24px;
        text-align: center
    }
    .register__form__container {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include media(xs){
            flex-direction: column;
        }
        .register__form__container__left {
            order: 1;
            width: 48%;
            @include media(xs){
                width: 100%;
            }
            .register__form__container__left__name {
                margin-top: 10px;
                h1 {
                    font-size: 16px;
                }
                input {
                    height: 40px;
                    width: 96%;
                    border-radius: 6px;
                    border-color: #adadad;
                    border-style: solid;
                    border-width: 1px;
                    padding: 10px;
                    @include media(xs){
                        width: 100%;
                    }
                }
            }
            .register__form__container__left__mail {
                margin-top: 10px;
                h1 {
                    font-size: 16px;
                }
                input {
                    height: 40px;
                    width: 96%;
                    border-radius: 6px;
                    border-color: #adadad;
                    border-style: solid;
                    border-width: 1px;
                    padding: 10px;
                    @include media(xs){
                        width: 100%;
                    }
                }
            }
            .register__form__container__left__password {
                margin-top: 10px;
                h1 {
                    font-size: 16px;
                }
                input {
                    height: 40px;
                    width: 96%;
                    border-radius: 6px;
                    border-color: #adadad;
                    border-style: solid;
                    border-width: 1px;
                    padding: 10px;
                    @include media(xs){
                        width: 100%;
                    }
                }
            }
        }
        .register__form__container__right {
            order: 2;
            width: 48%;
            @include media(xs){
                width: 100%;
            }
            .register__form__container__right__lastname {
                margin-top: 10px;
                h1 {
                    font-size: 16px;
                }
                input {
                    height: 40px;
                    width: 96%;
                    border-radius: 6px;
                    border-color: #adadad;
                    border-style: solid;
                    border-width: 1px;
                    padding: 10px;
                    @include media(xs){
                        width: 100%;
                    }
                }
            }
            .register__form__container__right__confirmMail {
                margin-top: 10px;
                h1 {
                    font-size: 16px;
                }
                input {
                    height: 40px;
                    width: 96%;
                    border-radius: 6px;
                    border-color: #adadad;
                    border-style: solid;
                    border-width: 1px;
                    padding: 10px;
                    @include media(xs){
                        width: 100%;
                    }
                }
            }
            .register__form__container__right__fiability {

                margin-top: 10px;
                h1 {
                    font-size: 16px;
                }
                .register__form__container__right__fiability__progress {
                    margin-top: 5px;
                    height: 30px;
                    width: 80%;
                    border-radius: 6px;
                    background: rgb(255,0,0);
                    background: -moz-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,72,1) 100%);
                    background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,72,1) 100%);
                    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,72,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#00ff48",GradientType=1);
                    @include media(xs){
                        width: 100%;
                    }
                }
            }
        }
    }
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login__form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 400px;
        background-color: rgb(235, 235, 235);
        padding: 20px;
        border-radius: 6px;
        @include media(xs){
            width: 350px;
        }
        button {
            margin-top: 10px;
            width: 100%;
        }
    }
    .login__form__title {
        font-size: 24px;
        text-align: center
    }
    .login__form__container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .login__form__container__mail {
            margin-top: 10px;
            h1 {
                font-size: 16px;
            }
            input {
                height: 40px;
                width: 100%;
                border-radius: 6px;
                border-color: #adadad;
                border-style: solid;
                border-width: 1px;
                padding: 10px;

            }
        }
        .login__form__container__password {
            margin-top: 10px;
            h1 {
                font-size: 16px;
            }
            input {
                height: 40px;
                width: 100%;
                border-radius: 6px;
                border-color: #adadad;
                border-style: solid;
                border-width: 1px;
                padding: 10px;
                @include media(xs){
                    width: 100%;
                }
            }
        }
    }
    .login__form__refer {
        text-align: center;
        a {
            text-decoration: none;
            font-weight: bold;
            color: #000;
        }
    }
}
