.dashboard {
  display: flex;
  justify-content: space-between;
}
.dashboard a {
  color: black;
  text-decoration: none;
}
.dashboard input {
  outline: none;
  border-style: solid;
  border-width: 0 0 2px;
  border-color: grey;
}

.tablaDatos {
  display: flex;
  align-items: center;
}
.tablaDatos .tablaDatos__downloadButton a {
  display: flex;
  align-items: center;
}
.tablaDatos .tablaDatos__downloadButton a i {
  margin-right: 10px;
}
