body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

.footer {
  background-color: #303030;
  padding: 20px 100px 20px 100px;
  width: 100%;
  min-height: 44vh;
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
.footer .footer__first {
  width: 30%;
  margin-right: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .footer .footer__first {
    text-align: center;
    width: 100%;
  }
}
.footer .footer__first .footer__first__title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer .footer__first a {
  color: white;
  margin-top: 5px;
  text-decoration: none;
}
.footer .footer__second {
  width: 30%;
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .footer .footer__second {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    margin-top: 16px;
  }
}
.footer .footer__second .footer__second__title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer .footer__second .footer__second__social {
  display: flex;
  flex-direction: row;
}
.footer .footer__second .footer__second__social img {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .footer__second .footer__second__social {
    justify-content: center;
  }
}
.footer .footer__second img {
  background-color: white;
  background-size: 30px;
  border-radius: 22px;
}

.home .container {
  margin-top: 60px;
  margin-bottom: 60px;
}
.home .container .row {
  text-align: center;
}
.home .container .featurette {
  padding-top: 20px;
  padding-bottom: 20px;
}
.home .container .featurette h2 {
  text-align: left;
}
.home .container .featurette p {
  text-align: left;
}
.home .container .featurette .col-md-7 {
  margin-top: 7rem;
}
.home .home__presentation {
  width: 100%;
  height: 500px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1370px) {
  .home .home__presentation img {
    height: 500px;
    width: auto;
  }
}
@media (min-width: 1023px) and (max-width: 1370px) {
  .home .home__presentation img {
    height: 500px;
    width: auto;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .home .home__presentation img {
    height: 500px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .home .home__presentation {
    height: auto;
  }
  .home .home__presentation img {
    width: 375px;
    height: auto;
  }
}
.home .home__caracteristics {
  display: flex;
  flex-direction: column;
}
.home .home__caracteristics .home__caracteristics__first {
  display: flex;
  flex-direction: column;
}
.register {
  background-color: #B2CAE0;
  min-height: 70vh;
  display: flex;
  justify-content: center;
}
.register .register__form {
  background-color: #fff;
  width: 900px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 4s0px;
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 767px) {
  .register .register__form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.register .register__form h1 {
  color: #1D65A6;
  font-size: 30px;
  font-weight: bold;
}
.register .register__form .register__form__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .register .register__form .register__form__inputs {
    flex-direction: column;
  }
}
.register .register__form .register__form__inputs .register__form__inputs__left {
  width: 48%;
}
@media (max-width: 767px) {
  .register .register__form .register__form__inputs .register__form__inputs__left {
    width: 100%;
  }
}
.register .register__form .register__form__inputs .register__form__inputs__right {
  width: 48%;
}
@media (max-width: 767px) {
  .register .register__form .register__form__inputs .register__form__inputs__right {
    width: 100%;
  }
}
.register .register__form .register__form__inputs .register__form__inputs__field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.register .register__form .register__form__inputs .register__form__inputs__field label {
  font-size: 24px;
  font-weight: 500;
  color: #1D65A6;
}
.register .register__form .register__form__inputs .register__form__inputs__field input {
  height: 50px;
  border-color: #adadad;
  border-style: solid;
  border-width: 0 0 2px;
  font-size: 20px;
  outline: none;
}
.register .register__form .register__form__inputs .register__form__inputs__field input:focus {
  border-color: #1D65A6;
}
.register .register__form .register__form__inputs .register__form__inputs__conditions {
  margin-top: 40px;
}
.register .register__form button {
  outline: none;
  width: 100%;
  height: 60px;
  background-color: #1D65A6;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 12px;
  border-style: solid;
  border-color: #1D65A6;
  font-size: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .login__form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 400px;
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .login .login__form {
    width: 350px;
  }
}
.login .login__form button {
  margin-top: 10px;
  width: 100%;
}
.login .login__form__title {
  font-size: 24px;
  text-align: center;
}
.login .login__form__container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.login .login__form__container .login__form__container__mail {
  margin-top: 10px;
}
.login .login__form__container .login__form__container__mail h1 {
  font-size: 16px;
}
.login .login__form__container .login__form__container__mail input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border-color: #adadad;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}
.login .login__form__container .login__form__container__password {
  margin-top: 10px;
}
.login .login__form__container .login__form__container__password h1 {
  font-size: 16px;
}
.login .login__form__container .login__form__container__password input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border-color: #adadad;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}
@media (max-width: 767px) {
  .login .login__form__container .login__form__container__password input {
    width: 100%;
  }
}
.login .login__form__refer {
  text-align: center;
}
.login .login__form__refer a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
